
<%= form_for @message do |f| %>
  
  <div class="form-group"> 
    <%= f.label :recipient_id %>
    <%= f.select :recipient_id, @friends.map{|friend| [User.find_by_id(friend.friend_id).email, friend]}, {}, {class:'form-control'} %>
  </div>

  <div class="form-group">
    <%= f.label :Subject %>
    <%= f.text_field :subject, class:'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :Content %>
    <%= f.text_field :content, class:'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :Image %>
    <%= f.file_field :image, class:'form-control' %>
  </div>

  
  <%= f.hidden_field :sender_id, :value => current_user.id %>

  <%= f.submit 'New message', class:'btn btn-primary' %>
<% end %>
