<div class="row">
  <div class="col-4">
    <ul class="list-group">
      <li class="list-group-item active"> <%= link_to 'Inbox', incoming_messages_path, {:style => 'color:black;'} %> </li>
      <li class="list-group-item"> <%= link_to 'Sent', sent_messages_path, {:style => 'color:black;'} %> </li>
    </ul>
  </div>
  
  <div class="col-8">
    <h2> Inbox </h2>
    
    <table class="table">
      <thead>
        <tr>
          <th> From </th>
          <th> Subject </th>
          <th> Time </th>
          <th> Read at </th>
        </tr>
      </thead>
      <tbody>
        <% @inbox_messages.each do |inbox_message| %>
          <tr>
            <td> <%= User.find_by_id(inbox_message.sender_id).email %> </td>
            <td> <%= inbox_message.subject %> </td>
            <td> <%= inbox_message.created_at %> </td>
            <% if inbox_message.read_at.nil? %>
              <td> <%= link_to 'Unread', incoming_messages_path(:message_id => inbox_message.id) %> </td>
            <% else %>
              <td> <%= inbox_message.read_at.strftime("%d/%m/%Y %H:%M") %> </td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
      
    </table>
  </div>
</div>