<div class="row">
  <%= render 'messages/list_group', list_style: 'Sent' %>
  <div class="col-8">
    <h2> Sent </h2>
    
    <table class="table">
      <thead>
        <tr>
          <th> To </th>
          <th> Subject </th>
          <th> Time </th>
          <th> Read at </th>
        </tr>
      </thead>
      <tbody>
        <% @sent_messages.each do |sent_message| %>
          <tr>
            <% sent_email = User.find_by_id(sent_message.recipient_id) %>
            <%# <td> <%= User.find_by_id(sent_message.recipient_id).email %> </td>
            <td> <%= sent_email.nil? ? "UNKNOWN USER" : "#{sent_email.email}" %> </td>
            <td> <%= sent_message.subject %> </td>
            <td> <%= sent_message.created_at.strftime("%d/%m/%Y %H:%M") %> </td>
            <% if Message.find_by_id(sent_message.id).read_at.nil? %>
              <td> <strong> UNREAD </strong> </td>
            <% else %>
              <td> <%= sent_message.read_at.strftime("%d/%m/%Y %H:%M") %> </td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
      
    </table>
  </div>
</div>