<div class="row">
  <%= render 'users/list_group', list_style: 'Users' %>  
  <div class="col-8">
    <h2> Users </h2>

    <div class="card-columns" style="font-size: 0.8em; text-align: center">
    <% @users.each do |user| %>
      <div class="card">  
        <%= image_tag("http://placehold.it/128?text=?", alt: "text", :class => "card-img-top")%>     
        <div class="card-block">
          <div style="word-break: break-word"> <%= user.email %>  </div>

          <% if user.is_friend(current_user.id) %>
            <%= link_to 'Remove', remove_friend_users_path(:id => user.id), class: 'btn btn-danger' %>
          <% else %>
            <%= link_to 'Add', add_friend_users_path(:id => user.id), class: 'btn btn-primary' %>
          <% end %>
        </div>
      </div>
    <% end %>
    </div>
  </div>
</div>